@model IEnumerable<Department>
@{
    ViewData["Title"] = "Departments";
}
<h3> All Departments</h3>
<a asp-action="Create" class="btn btn-success mb-2">Create New Department</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Location</th>
            <th>Name</th>
            <th>Phone</th>
            <th colspan="3" style="text-align: center;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.Id</td>
                <td>@department.Location</td>
                <td>@department.Name</td>
                <td>@department.phoneNumber</td>
                <td>
                    <a asp-action="Details" asp-route-id="@department.Id" class="btn btn-info btn-sm">Details</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@department.Id" class="btn btn-primary btn-sm">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@department.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>